h1 {text-align: center; font-family: arial; font-size: 24px;}
body {text-align: centre; font-family: arial; font-size: 64px; margin-left: 100px; margin-right: 100px;}
li {text-align: left; font-family: arial; font-size: 14px; margin-left: 50px; margin-right: 50px; font-style: italic;}
div.answer {color: #ff0000; font-size: 72px; font-weight: bold;}
